attrs==25.3.0
blinker==1.8.2
boto3==1.40.43
botocore==1.40.43
click==8.1.7
colorama==0.4.6
flasgger==0.9.5
Flask==2.2.5
flask-cors==6.0.1
Flask-SQLAlchemy==3.0.5
greenlet==3.1.1
gunicorn==20.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.2
mistune==3.1.4
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0
referencing==0.36.2
rpds-py==0.27.1
s3transfer==0.14.0
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.5.0
watchdog==5.0.3
Werkzeug==2.2.3